body {
  padding-top: 60px;
}
body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.navbar{
    position:fixed;
    width:100%;
    height:50px;
    vertical-align:middle;
    line-height:50px;
    top:0px;
    z-index:5;
}
